@charset "utf-8";
$sys_green: #85d9a2;
$text_pry: #333;
$text_pry_disable: #aaa;

#LoginPage {
  text-align: center;

  .el-tabs__active-bar {
    background-color: $sys_green;
  }

  .el-tabs__item.is-active {
    color: $text_pry;
  }

  .el-tabs__item {
    color: $text_pry_disable;
  }

  .el-tabs__item:hover {
    color: $text_pry;
  }

  .el-tabs {
    display: inline-block;

    .el-tabs__header {
      margin-bottom: 22px;
    }

    .el-tabs__nav {
      width: 100%;

      .el-tabs__active-bar {
        left: 50px;
      }
    }
  }

  .el-tabs__content {
    margin-right: 20px;
    margin-left: 20px;
    float: right;
  }

  .loginForm {
    width: 280px;
    display: inline-block;

    .el-input {
      width: 280px;

      &:focus {
        border: 1px solid #F3991C;
      }
    }

    .el-input.verifyCode {
      width: 150px;
      float: left;
    }

    u {
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
      background-color: $sys_green;
      border: 1px solid $sys_green;
      width: 120px;
      line-height: 38px;
      display: inline-block;
      color: #fff;
      text-align: center;
      font-size: 14px;
    }

    u.time-btn {
      background: #ecfbec;
      color: $sys_green;
    }

    img {
      width: 111px;
      height: 40px;
      float: right;
    }

    b {
      font-style: normal;
      width: 50px;
      height: 40px;
      line-height: 40px;
      float: right;
      font-size: 16px;
      color: #9D989C;
      cursor: pointer;
    }

    button {
      margin-top: 10px;
      font-size: 16px;
      width: 280px;
      height: 40px;
      border-radius: 5px;
      color: #fff;
      text-align: center;
    }

    .forgetregit {
      &>div {
        display: flex;
        justify-content: space-between;
      }

      .el-form-item__content {
        a {
          color: #999;
        }
      }
    }

    .verifywarp {
      height: 40px;
    }
  }
}